<div class="fonticon" ng-if="$ctrl.data.fonticon">
  <i ng-class="$ctrl.data.fonticon" ng-style="$ctrl.data.color ? {color: $ctrl.data.color} : {}"></i>
</div>
<div class="fileicon" ng-if="$ctrl.data.fileicon && !$ctrl.data.fonticon">
  <img ng-src="{{ $ctrl.data.fileicon }}" />
</div>
<div class="text" ng-if="$ctrl.data.text" ng-class="$ctrl.fontSize()">
  {{ $ctrl.data.text | abbrNumber }}
</div>
<div class="piechart fill-{{ $ctrl.data.piechart }}" ng-if="$ctrl.data.piechart || $ctrl.data.piechart === 0"></div>
