<div class="col-sm-4">
  <div class="input-group">
    <input type="text" class="form-control" ng-value="vm.node.key" disabled>
    <span class="input-group-btn">
      <button class="btn btn-default" ng-click="vm.toggleTree();"><i class="ff ff-load-balancer"></i></button>
    </span>
  </div>
</div>
<div class="col-sm-4" ng-show="vm.display">
  <miq-tree-selector
    name="tree-selector"
    data="vm.data"
    selectable="{ key: '(^gc-)|(^lc-)' }"
    on-select="vm.nodeSelect(node)"
    lazy-load="vm.lazyLoad(node)"
    >
  </miq-tree-selector>
</div>
