<div class="pull-left" style="padding: 10px" ng-repeat="quad in vm.quads">
  <miq-quadicon data="quad"></miq-quadicon>
</div>
<div class="clearfix"></div>
<hr>
<h2>Text sizing and number abbreviation</h2>
<div class="pull-left" style="padding: 10px;" ng-repeat="quad in vm.numbers">
  <miq-quadicon data="quad"></miq-quadicon>
</div>
<div class="clearfix"></div>
<hr>
<h2>ManageIQ Examples</h2>

<h3>Hosts</h3>
<div class="pull-left" style="padding: 10px;" ng-repeat="quad in vm.hosts">
  <miq-quadicon data="quad"></miq-quadicon>

</div>
<div class="clearfix"></div>
<h3>VMs</h3>
<div class="pull-left" style="padding: 10px;" ng-repeat="quad in vm.vms">
  <miq-quadicon data="quad"></miq-quadicon>
</div>

<div class="clearfix"></div>
<h3>Container Providers</h3>
<div class="pull-left" style="padding: 10px;" ng-repeat="quad in vm.containerproviders">
  <miq-quadicon data="quad"></miq-quadicon>
</div>
