<div ng-switch on="vm.fieldData.type" class="form-group">
  <label class="control-label col-sm-2">{{ vm.fieldData.label }}</label>

  <!-- text box -->
  <div class="col-sm-5" ng-switch-when="DialogFieldTextBox">
    <input ng-model="vm.fieldData.default_value"
           class="form-control"
           type="{{ vm.fieldData.options.protected ? 'password' : 'text' }}"
           placeholder="{{'Default value'|translate}}" />
  </div>

  <!-- text area -->
  <div class="col-sm-5" ng-switch-when="DialogFieldTextAreaBox">
    <textarea ng-model="vm.fieldData.default_value"
              class="form-control"
              rows="4">
      {{ vm.fieldData.default_value }}
    </textarea>
  </div>

  <!-- check box -->
  <div class="col-sm-5" ng-switch-when="DialogFieldCheckBox">
    <input ng-model="vm.fieldData.default_value"
           ng-true-value="'t'"
           type="checkbox" />
  </div>

  <!-- date control -->
  <div class="col-sm-5" ng-switch-when="DialogFieldDateControl">
    <p class="input-group">
      <input uib-datepicker-popup="MM/dd/yyyy"
             type="text"
             class="form-control"
             ng-model="vm.fieldData.default_value"
             is-open="open"
             close-text="{{'Close'|translate}}" />
      <span class="input-group-btn">
        <button type="button"
                class="btn btn-default"
                ng-click="open = !open">
          <i class="fa fa-calendar"></i>
        </button>
      </span>
    </p>
  </div>

  <!-- date time control -->
  <div class="col-sm-5" ng-switch-when="DialogFieldDateTimeControl">
    <div>
      <div class="col-sm-6 dateTimePadding">
        <p class="input-group">
          <input uib-datepicker-popup="MM/dd/yyyy"
                 type="text"
                 class="form-control"
                 ng-model="vm.fieldData.default_value"
                 is-open="open"
                 close-text="{{'Close'|translate}}" />
          <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default"
                    ng-click="open = !open">
              <i class="fa fa-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-sm-6">
        <uib-timepicker ng-model="vm.fieldData.default_value"></uib-timepicker>
      </div>
    </div>
  </div>

  <!-- drop down list -->
  <div class="col-sm-5" ng-switch-when="DialogFieldDropDownList">
    <div ng-if="!vm.fieldData.options.force_multi_value">
      <select class="form-control" miq-select
              ng-model="vm.fieldData.default_value">
        <option value="" translate>None</option>
        <option ng-repeat="value in vm.fieldData.values" value="{{value[0]}}">{{value[1]}}</option>
      </select>
    </div>
    <div ng-if="vm.fieldData.options.force_multi_value">
      <select class="form-control" multiple miq-select
              ng-init="vm.convertValuesToArray()"
              ng-model="vm.fieldData.default_value">
        <option ng-repeat="value in vm.fieldData.values" value="{{value[0]}}">{{value[1]}}</option>
      </select>
    </div>
  </div>

  <!-- radio button -->
  <div class="col-sm-5" ng-switch-when="DialogFieldRadioButton">
    <label ng-repeat="option in vm.fieldData.values"
           class="radio-inline">
      <input type="radio"
             name="{{vm.fieldData.name}}"
             ng-model="vm.fieldData.default_value"
             ng-value="option[0]" />
      {{ option[1] }}
    </label>
  </div>

  <!-- tag control -->
  <div class="col-sm-5" ng-switch-when="DialogFieldTagControl">
    <div ng-if="!vm.fieldData.options.force_multi_value">
      <select class="form-control" miq-select
              ng-model="vm.fieldData.default_value">
        <option value="" translate>None</option>
        <option ng-repeat="value in vm.fieldData.values" value="{{value[0]}}">{{value[1]}}</option>
      </select>
    </div>
    <div ng-if="vm.fieldData.options.force_multi_value">
      <select class="form-control" multiple miq-select
              ng-init="vm.convertValuesToArray()"
              ng-model="vm.fieldData.default_value">
        <option ng-repeat="value in vm.fieldData.values" value="{{value[0]}}">{{value[1]}}</option>
      </select>
    </div>
  </div>

  <div class="col-sm-5 editor-field-actions">
    <button type="button" class="close hide"
            ng-click="vm.removeField(
              vm.service.activeTab,
              vm.boxPosition,
              vm.fieldData.position
            )">
            <span aria-hidden="true">
              <i class="fa fa-times"></i>
            </span>
    </button>
    <button type="button" class="close hide"
            ng-click="vm.setupModalOptions({
              type: 'field',
              tab: vm.service.activeTab,
              box: vm.boxPosition,
              field: vm.fieldData.position
            })">
      <span aria-hidden="true">
        <i class="pf pficon-edit"></i>
      </span>
    </button>
  </div>
</div>
