<div>
  <div class="miq-select-all col-md-2 col-lg-2 col-xs-2"
       ng-if="!paginationCtrl.settings.hideSelect">
    <label>{{paginationCtrl.settings.selectAllTitle}}: </label>
    <input type="checkbox"
           ng-model="isChecked"
           ng-click="paginationCtrl.onSelectAll({isSelected: isChecked})"
           title="{{paginationCtrl.settings.selectAllTitle}}" />
  </div>
  <miq-sort-items ng-if="paginationCtrl.settings.sortBy"
                  class="miq-sort-items col-md-2 col-lg-2 col-xs-2"
                  sort-object="paginationCtrl.settings.sortBy"
                  headers="paginationCtrl.settings.columns"
                  drop-down-class="paginationCtrl.settings.dropDownClass"
                  on-sort="paginationCtrl.onChangeSort({sortId: sortObject.colId, isAscending: isAscending})">
  </miq-sort-items>
  <div class="col-md-7 col-lg-7 col-xs-7">
    <div class="miq-pager">
      <div class="miq-per-page">
        <miq-toolbar-list on-item-click="paginationCtrl.onChangePerPage({item: item})"
                          drop-down-class="paginationCtrl.settings.dropDownClass"
                          toolbar-list="paginationCtrl.perPage"></miq-toolbar-list>
      </div>
      <div class="miq-paging" ng-if="paginationCtrl.settings.current">
        <miq-paging settings="paginationCtrl.settings" on-change-page="paginationCtrl.onChangePage({pageNumber: pageNumber})"></miq-paging>
      </div>
    </div>
  </div>
  <div ng-if="paginationCtrl.settings.items" class="col-md-1 col-lg-1 col-xs-1 miq-page-counter">
    <label>
      {{paginationCtrl.settings.translateTotalOf(paginationCtrl.settings.startIndex, paginationCtrl.settings.endIndex, paginationCtrl.settings.items)}}
    </label>
  </div>
</div>
