# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed

# Users Environment Variables
.lock-wscript

dist/assets/
dist/css
dist/data/
dist/docs/
dist/js
dist/**/demo-app.*
dist/*.ttf
dist/*.eot
dist/*.svg
dist/*.woff
dist/*.woff2
.tmp/
libs/
dist/index.html
tsd/
typings/
vendor.js
vendor.css
*.css.map
*.js.map

._*
.DS_Store

# idea files
.idea/
*.ipr
*.iws
*.iml

coverage
package-lock.json

/node_modules/
/.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
