# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed

# Users Environment Variables
.lock-wscript

dist/assets/
dist/data/
dist/docs/
dist/**/demo-app.*
.tmp/
libs/
node_modules/
dist/index.html
tsd/
typings/
vendor.js
vendor.css

._*
.DS_Store

# idea files
.idea/
*.ipr
*.iws
*.iml

coverage
