<div class="miq-tile-section">
  <div pf-card-view
       config="tileCtrl.options"
       items="tileCtrl.rows"
       ng-class="tileCtrl.tileClass()">
    <div ng-switch="config.type">
      <ng-switch-when ng-switch-when="small">
        <div>
          <a href="javascript:void(0)">{{config.fetchTileName(item)}}</a>
        </div>
        <div>
          <a href="javascript:void(0)">
            <img ng-if="item.cells[0].icon === null" height="72" ng-src="{{item.cells[0].img_url}}" width="72">
          </a>
        </div>
      </ng-switch-when>
      <ng-switch-when ng-switch-when="big">
        <a href="javascript:void(0)">{{config.fetchTileName(item)}}</a>
        <div class="row miq-row-margin-only-top ">
          <div class="col-md-3 col-ld-3 miq-icon-section">
            <a href="javascript:void(0)">
              <img ng-if="item.cells[0].icon === null" height="72" ng-src="{{item.cells[0].img_url}}" width="72">
            </a>
          </div>
          <div class="col-md-9 col-ld-9 miq-info-section">
            <dl class="dl-horizontal tile">
              <dt ng-repeat-start="(key, header) in config.columns" ng-if="header.text && header.text !== 'Name'">{{header.text}}</dt>
              <dd ng-repeat-end ng-if="header.text && header.text !== 'Name'">{{item.cells[key-1].text}}</dd>
            </dl>
          </div>
        </div>
      </ng-switch-when>
    </div>
  </div>
</div>
