<div class="row">
  <div class="col-md-12">
    <h2>General</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal">
      <div pf-form-group pf-label="Dialog's name">
        <input title="Dialog editor name">
      </div>
      <div pf-form-group pf-label="Dialog's description">
        <textarea ng-model="vm.dialog.content[0].description"
                  title="Dialog editor description">
        </textarea>
      </div>
    </form>
  </div>
</div>

<dialog-editor></dialog-editor>
<div class="row">
  <pre class="col-md-push-2 col-md-7">{{ vm.DialogEditor.data.content[0] | json }}</pre>
</div>
