<div class="row">
  <div class="col-md-12">
    <h2>General</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal">
      <div pf-form-group pf-label="Dialog's name">
        <input title="Dialog editor name">
      </div>
      <div pf-form-group pf-label="Dialog's description">
        <textarea ng-model="vm.dialog.content[0].description"
                  title="Dialog editor description">
        </textarea>
      </div>
    </form>
  </div>
</div>
<div class="dialog-designer-container">
  <dialog-editor-modal
    modal-options='vm.modalOptions'
    element-info = 'vm.elementInfo'
    lazy-load='vm.lazyLoad'
    on-select='vm.onSelect'
    show-fully-qualified-name="vm.showFullyQualifiedName"
    tree-selector-data="vm.treeSelectorData"
    tree-selector-include-domain="vm.treeSelectorIncludeDomain"
    tree-selector-show="vm.treeSelectorShow"
    tree-selector-toggle="vm.treeSelectorToggle"
    visible="vm.modalVisible"
  ></dialog-editor-modal>
  <div class="toolbox-container">
    <div class="static-field-container" id="toolbox">
      <div class="draggable">
        <dialog-editor-field-static></dialog-editor-field-static>
      </div>
    </div>
    <div class="editable-fields-container">
      <dialog-editor-tabs setup-modal-options="vm.setupModalOptions(type, tab, box, field)"></dialog-editor-tabs>
      <dialog-editor-boxes setup-modal-options="vm.setupModalOptions(type, tab, box, field)"></dialog-editor-boxes>
      <pre>{{ vm.DialogEditor.data.content[0] | json }}</pre>
    </div>
  </div>
</div>
