<ul class="pagination">
  <li>
    <a ng-class="{disabled: pagingCtrl.settings.current === 1}"
       ng-click="pagingCtrl.onChangePage({pageNumber: 1})"
       href="javascript:void(0)">
      <span class="i fa fa-angle-double-left"></span>
    </a>
  </li>
  <li>
    <a ng-class="{disabled: pagingCtrl.settings.current === 1}"
       ng-click="pagingCtrl.onChangePage({pageNumber: pagingCtrl.settings.current - 1})"
       href="javascript:void(0)">
      <span class="i fa fa-angle-left"></span>
    </a>
  </li>
  <li class="page-selector">
    <span> <input type="number"
                  ng-disabled="pagingCtrl.settings.total <= 1"
                  ng-model="pagingCtrl.settings.current"
                  ng-model-options="{updateOn : 'change blur'}"
                  ng-change="pagingCtrl.onPageChange()">
    <label translate>of {{pagingCtrl.settings.total}}</label></span>
  </li>
  <li>
    <a ng-class="{disabled: (pagingCtrl.settings.current) === pagingCtrl.settings.total}"
       ng-click="pagingCtrl.onChangePage({pageNumber: (pagingCtrl.settings.current + 1)})"
       href="javascript:void(0)">
      <span class="i fa fa-angle-right"></span>
    </a>
  </li>
  <li>
    <a ng-class="{disabled: (pagingCtrl.settings.current) === pagingCtrl.settings.total}"
       ng-click="pagingCtrl.onChangePage({pageNumber: pagingCtrl.settings.total})"
       href="javascript:void(0)">
      <span class="i fa fa-angle-double-right"></span>
    </a>
  </li>
</ul>
