// Styleguide:
// - Prefix names with color-
// - Name the variable as the color it represents, not its intended function
// - If the color includes an alpha channel suffix with -xx
// - If the color is an approximate match suffix with -approx
//  - Do not suffix '-solid' for exact matches
// - If the color already exists with -approx modifier, append a count -x starting at 2
// - Use only hyphens and lowercase characters
//
// Examples
// $color-blue: #0000ff
// $color-governor-bay-approx: #3B4CC4
// $color-governor-bay-approx-2: #3B4AC5
// $color-white-70: rgba(255, 255, 255, 0.7)
// $color-cerulean-45-approx: rgba(0, 173, 239, 0.45)
//
// Use a tool such as : http://name-of-color.com/ to find the name of your color

// Grays
$color-white: #fff;
$color-off-white: #ddd;
$color-black-haze-approx: #f4f7f8;
$color-white-smoke: #f5f5f5;
$color-gallery-approx: #eee;
$color-cararra-approx: #ebebeb;
$color-light-gray-approx: #d1d1d1;
$color-gray-nurse-approx: #e9e8e8;
$color-gray: #808080;
$color-gray-1: #b1b1b1;
$color-gray-2: #8b8d8f;
$color-bombay-approx: #b1b3b6;
$color-concrete-solid: #f2f2f2;
$color-mountain-mist-approx: #939598;
$color-abbey-approx: #4c4f56;
$color-medium-gray-3: #666;
$color-white-94: rgba(255, 255, 255, 0.94);

$color-cape-cod-approx: #414042;
$color-mine-shaft-approx: #333;
$color-black: #000;
$color-black-1: rgba(3, 3, 3, 1);
$color-black-20: rgba(0, 0, 0, 0.2);
$color-black-30: rgba(0, 0, 0, 0.3);
$color-dark-gray-75: rgba($color-cape-cod-approx, 0.75);

// Reds
$color-red: #f00;
$color-radical-red-approx: #f13b54;
$color-froly-approx: #f1757b;
$color-coral-approx: #f88954;
$color-misty-rose-approx: #fbe7e7;
$color-lava-approx: #cc151d;
$color-boston-university-red: #c00;
$color-serenade-approx: #fdf4ea;
$color-cadmium-orange-approx: #eb822b;
$color-tahiti-gold-approx: #ec7a08;

// Greens
$color-green: #0f0;
$color-green-1: #008000;
$color-green-crayola-approx: #23a27e;
$color-dark-green-1: #3c763d;
$color-mountain-meadow-approx: #1dc58e;
$color-frostee-approx: #e8f9e6;
$color-apple-approx: #4da146;

// Blues
$color-blue: #00f;
$color-ebony-clay-approx: #2b2e3e;
$color-martinique-approx: #33394d;
$color-gun-power-approx: #3d445c;
$color-storm-gray-approx: #6e7385;
$color-blue-de-france-approx: #3397db;
$color-picton-blue-approx: #44bde6;
$color-light-blue: #0099d3;
$color-lochmara-approx: #0088ce;
$color-medium-blue-3: #0d6f9a;
$color-pale-cerulean-approx: #95c3e3;
$color-polar-approx: #e2f5f6;
$color-deep-ocean-approx: #1c3753;
$color-tarawera-approx: #063451;
$color-blue-50: #def3ff;
$color-blue-300: #39a5dc;
$color-pattens-blue-approx: #e3f4fd;
$color-spindle-approx: #b3d3e7;
$color-onahau-approx: #d4edfa;

// Purples
$color-prelude-approx: #cebee1;
$color-lavender-purple-approx: #9f7fc3;
$color-royal-purple-approx: #6d3ba4;
$color-kingfisher-daisy-approx: #3b0083;
$color-paua-approx: #2d0064;
$color-tolopea-approx: #1e0042;
$color-black-russian-approx: #0f0021;
