.dialog-editor-container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
}

.draggable-box {
  background-color: $color-white-94;
  border-radius: 1px;
  cursor: pointer;
  margin-right: 16px;
  margin-top: 10px;
  height: 100%;
  width: 100%;
  position: relative;

  &.selected {
    border: 3px solid $color-blue-300;
  }

  &:hover {
    border: 1px solid $color-gray-1;
    box-shadow: 0 2px 6px $color-black-20;

    .header-fa {
      float: right;
      font-size: 22px;
    }

    &.selected {
      border: 3px solid $color-blue-300;
    }

    .header-pf {
      float: right;
      font-size: 16px;
      padding-top: 3px;
      padding-right: 8px;
    }

    .show-on-hover {
      display: initial !important;
    }

    &::before {
      background-image: linear-gradient(to bottom, $color-lochmara-approx 60%, $color-white 0%);
      background-position: left;
      background-repeat: repeat-y;
      background-size: 2px 5px;
      border: 4px solid $color-lochmara-approx;
      bottom: 4px;
      content: "";
      left: 4px;
      position: absolute;
      top: 3px;
      width: 10px;
    }
  }

  &:first-child {
    margin-top: 0px;
  }
}

.draggable-field {
  background-color: $color-white-94;
  border-radius: 1px;
  cursor: pointer;
  margin-right: 16px;
  margin-top: 10px;
  width: 100%;
  padding-top: 9px;
  padding-left: 20px;
  padding-right: 8px;
  padding-bottom: 2px;
  position: relative;
  z-index: 600;

  &.selected {
    border: 3px solid $color-blue-300;
  }

  &:hover {
    border: 1px solid $color-gray-1;
    box-shadow: 0 2px 6px $color-black-20;

    &.selected {
      border: 3px solid $color-blue-300;
    }

    button {
      display: inherit !important;
      position: relative;
      top: 4px;
    }

    &::before {
      background-image: linear-gradient(to bottom, $color-lochmara-approx 60%, $color-white 0%);
      background-position: left;
      background-repeat: repeat-y;
      background-size: 2px 5px;
      border: 4px solid $color-lochmara-approx;
      bottom: 4px;
      content: "";
      left: 4px;
      position: absolute;
      top: 3px;
      width: 10px;
    }
  }

  &:first-child {
    margin-top: 0px;
  }

  img {
    height: 100%;
    margin-right: 8px;
    object-fit: contain;
  }
}

.add-section-box {
  cursor: pointer;
  height: 45px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  border: 2px dashed $color-gray-1;
  margin-bottom: 26px;

  a {
    cursor: pointer;
  }
}

.draggable-field-dropdown {
  z-index: initial;
}

.entry_point_selector_types {

  .automation_type_selector {
    margin-bottom: 20px !important;
  }
  .entry_point {
    margin-top: 20px;
  }
}


l.nav.nav-list.workflows {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;

  li {
    border-bottom: 1px solid lightgray;
    padding: 10px;
  }
}

.tree_selector_wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  margin-top: 10px;

  .tree_selector_title_wrapper {
    display: flex;
    flex-direction: row;
    background: lightgray;
    padding: 5px;

    .tree_selector_dialog_title {
      display: flex;
      flex-grow: 1;
      font-weight: bold;
      padding: 5px 0;
      font-size: 14px;
    }
    .tree_selector_action {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 30px;
    }
  }
  .tree_selector_content_wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;

    ul.workflows_list_wrapper {
      display: flex;
      flex-direction: column;
      border: 1px solid lightgray;

      li.workflows_list_header {
        background: lightgray;
        padding: 10px 0;
        font-weight: bold;
      }

      li.workflow_item {
        display: flex;
        flex-grow: 1;
        padding: 5px;
        border-bottom: 1px solid lightgray;

        &:last-child {
          border-bottom: 0 !important;
        }

        .workflow_item_row {
          display: flex;
          flex-grow: 1;
          margin-left: -5px;
        }

        &:hover {
          background: #e4e5e6;
          cursor: pointer;
        }

        &.workflow_item_disabled {
          opacity: 0.5;
          color: #999;
          background-color: #f5f5f5;

          .workflow_item_row {
            cursor: not-allowed;
          }

          &:hover {
            background: #f5f5f5;
            cursor: not-allowed;
          }
        }

      }
    }
  }
}
