.dropdown-kebab-pf {
  .dropdown-submenu {
    .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      margin-left: -1px;

      &:after, &:before {
        border: none;
      }

      a:empty {
        display: none;
      }
    }
  }
}
