@import 'colors';
@import 'dialog-editor';
@import 'dialog-editor-toolbox';
@import 'dialog-editor-boxes';

/* Begin Patternfly Tab overrides used in the Dialog Editor */

.dialog-editor-tab-notification {
  color: #363636;
  font-weight: bold;
  background: #ffe6e7;
  border: 1px solid #cd0000;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;

  i {
    font-size: 16px;
  }
}

.dialog-editor-tab-list {
  margin-bottom: 20px !important;
}

.delete-tab {
  opacity: .3;
  visibility: visible;
}

.select-tab {
  &:hover {
    .delete-tab {
      opacity: 1;
      visibility: visible;
    }
  }
}

/* End Patternfly Tab overrides */



/* Begin Patternfly Table View overrides */

.miq-data-tables-header {
  text-align: left;
  .pull-right {
    padding-right: 20px;
    div {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

table.miq-table-with-footer {
  margin-bottom: 0px;
}

.miq-table thead th{
  color: #0099d3;
  cursor: pointer;
}

/* End Patternfly Table View overrides */

/* begin fonticon picker styling */

miq-fonticon-picker {
  button.picked {
    width: 3em;
    text-align: center;
  }
}

.fonticon-modal {
  .modal-content {
    .tab-content {
      height: calc(100vh - 260px);
      overflow-y: auto !important;
      overflow-x: hidden;

      div.fonticon {
        font-size: 24px;
        text-align: center;

        span.active {
          i {
            padding: 3px 5px 3px 5px;
            background-color: #0088ce;
            color: #fff;
          }
        }
      }
    }
  }
}

/* end fonticon picker styling */

/* begin dialog control styling */
.miq-dialog {
  .has-error {
    color: red;

    .form-control {
      border-color: red;
    }
  }
}
/* end dialog control styling */


/* Begin paginator styling */


.pagination {
  .disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fafafa !important;
    background-image: none !important;
    border-color: #d1d1d1 !important;
    color: #8b8d8f !important;
    opacity: 1;
  }
}


.span-right-border{
  border-right: 1px solid #d1d1d1;
  padding-right: 10px;
  margin-right: 10px !important;
}

.content-view-pf-pagination .form-group {
  align-items: center;
}
.content-view-pf-pagination .form-group .per-page-label {
  padding-left: 10px;
}

.pagination {
  .page-selector {
    span {
      &, &:hover, &:active, &:focus, &:active:focus, &:hover:active {
        box-shadow: initial;
        border: 0;
        background: initial;
        padding-top: 0;
      }
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      text-align: right;
      width: 35px;
      -moz-appearance: textfield;
    }
  }
}


/* End pagination styling */


/* new Patternfly pagination code */

.content-view-pf-pagination {
  background-color: #f5f5f5;
  border: 1px solid #d1d1d1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.content-view-pf-pagination .form-group {
  -ms-flex-align: baseline;
      align-items: baseline;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
      flex-grow: 1;
  float: left;
  margin: 5px;
}
@supports (display: flex) {
  .content-view-pf-pagination .form-group {
    float: none;
  }
}
.content-view-pf-pagination .form-group:last-child {
  -ms-flex-pack: end;
      justify-content: flex-end;
  float: right;
}
.content-view-pf-pagination .pagination {
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 10px;
}
.content-view-pf-pagination .pagination a {
  float: none;
}
@supports (display: flex) {
  .content-view-pf-pagination .pagination a {
    display: block;
  }
}

miq-quadicon {
  $quad-w: 78px;
  $quad-h: 78px;
  $radius: 6px;
  $font-size: $quad-w /3;
  $quad-bg: linear-gradient(180deg, rgb(144, 142, 143) 0%, rgb(87, 87, 87) 62%, rgb(64, 64, 65) 100%);
  $piechart-small: 30px;
  $piechart-large: 60px;

  // Clearfix across the component
  display: block;
  display: flow-root;
  // Hack for IE11
  @supports not (display: flow-root) {
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  border-radius: $radius;
  color: white;
  height: $quad-h;
  overflow: hidden;
  width: $quad-w;

  & > div.quad-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: $quad-bg;

    & > miq-quaditem {
      display: flex;
      -webkit-box-flex: 0;
      flex: 0 0 50%;
      align-items: center;
      align-content: center;
      justify-content: center;

      position: relative;
      height: $quad-h / 2;

      .piechart {
        width: $piechart-small;
        height: $piechart-small;
      }

      .fileicon img{
        height: $quad-h / 3 + ($quad-h / 14);
        width: $quad-w / 3 + ($quad-h / 14);
      }

      .fonticon, .text {
        font-size: $font-size / 2 + ($font-size / 3);
      }

      .text.font-small {
        font-size: $font-size / 3 + ($font-size / 3);
      }

      .text.font-tiny {
        font-size: $font-size * 1/2;
      }

      &.top-left {
        box-shadow: inset -1px -1px 0 0px rgba(0, 0, 0, 0.6),
                    inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
      }

      &.top-right {
        box-shadow: inset 0px -1px 0 0px rgba(0, 0, 0, 0.6);
      }

      &.bottom-left {
        box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.6),
                    inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
      }

      &.bottom-right {
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
      }

      &.middle {
        flex: 0 0 100%;
        margin-top: - $quad-h + ($quad-h / 4);

        .fileicon img {
          height: $quad-h / 3 + ($quad-h / 14);
          width: $quad-w / 3 + ($quad-h / 14);
        }
        .fonticon {
          font-size: $font-size + ($font-size / 5);
        }
      }
    }
  }

  & > div.single-wrapper {
      display: -webkit-box;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      background: $quad-bg;
      height: $quad-h;

      & > miq-quaditem {

        .fileicon img {
          height: $quad-h / 2 + ($quad-h / 4);
          width: $quad-w / 2 + ($quad-w / 4);
        }

        .piechart {
          width: $piechart-large;
          height: $piechart-large;
        }

        .fonticon, .text {
          font-size: $font-size * 2;
        }

        .text.font-small {
          font-size: $font-size * 3/3;
        }

        .text.font-tiny {
          font-size: $font-size * 2/3;
        }
      }
  }
}
