<div class="miq-dialog">
  <div ng-if=" !vm.dialog.label">
    <h2 translate>No Provisioning Dialog Available.</h2>
  </div>
  <div ng-if="vm.dialog.label">
    <uib-tabset>
      <uib-tab ng-repeat="tab in vm.dialog.dialog_tabs" heading="{{ ::tab.label }}">
        <div ng-repeat="buttonGroup in tab.dialog_groups">
          <form class="form-horizontal">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>{{ ::buttonGroup.label }}</strong>
              </div>
              <div class="panel-body">
                <div ng-repeat="field in buttonGroup.dialog_fields">
                  <dialog-field on-update="vm.updateDialogField(dialogFieldName, value)" single-refresh="vm.refreshSingleField(field)" field="vm.dialogFields[field.name]" input-disabled="vm.inputDisabled" reconfigure-mode="vm.reconfigureMode"></dialog-field>
                </div>
              </div>
            </div>
          </form>
        </div>
        </ui-tab>
    </uib-tabset>
  </div>
</div>
