<button title="{{toolbarButton.title}}"
        data-explorer="{{toolbarButton.explorer}}"
        data-confirm-tb="{{toolbarButton.confirm}}"
        id="{{toolbarButton.id}}"
        name="{{toolbarButton.name}}"
        type="button"
        class="btn btn-default"
        data-click="{{toolbarButton.id}}"
        data-url="{{toolbarButton.url}}"
        data-url_parms="{{toolbarButton.url_parms}}"
        ng-class="{active: toolbarButton.selected, disabled: !toolbarButton.enabled}"
        ng-hide="toolbarButton.hidden"
        ng-click="onItemClick({item: toolbarButton, $event: $event})">
  <i class="{{toolbarButton.icon}}" style=""></i>&nbsp;
</button>
