<div class="tree_selector_wrapper">
  <div class="tree_selector_title_wrapper">
    <div class="tree_selector_dialog_title">
      <span ng-if="$ctrl.treeOptions.automationType==$ctrl.treeOptions.automationTypes.automate">
        Select Embedded Automate
      </span>
      <span ng-if="$ctrl.treeOptions.automationType==$ctrl.treeOptions.automationTypes.workflow">
        Select Embedded Workflow
      </span>
    </div>
    <div class="tree_selector_action">
      <div class="pull-right">
        <button type="button" class="close" ng-click="$ctrl.treeOptions.toggle()" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="tree_selector_content_wrapper">
    <div ng-if="!$ctrl.treeOptions.data" class="spinner spinner-lg"></div>
    <div ng-if="$ctrl.treeOptions.automationType==$ctrl.treeOptions.automationTypes.automate">
      <div ng-if="$ctrl.treeOptions.data">
        <miq-tree-selector
          name="tree-selector"
          data="$ctrl.treeOptions.data"
          selectable="{key: '^aei-'}"
          on-select="$ctrl.treeOptions.onSelect(node)"
          lazy-load="$ctrl.treeOptions.lazyLoad(node)"
          selected="$ctrl.treeOptions.selected"
        ></miq-tree-selector>
      </div>
      <div class="col-sm-4">
        <div class="form-group pull-right">
          <label class="control-label" translate>Include domain prefix in the path:</label>
          <input bs-switch
                type="checkbox"
                ng-model="$ctrl.treeOptions.includeDomain"
                switch-on-text="{{'Yes'|translate}}"
                switch-off-text="{{'No'|translate}}"/>
        </div>
      </div>
    </div>
    <div ng-if="$ctrl.treeOptions.automationType==$ctrl.treeOptions.automationTypes.workflow">
      <div ng-if="$ctrl.treeOptions.data">
        <ul class="nav nav-list workflows_list_wrapper">
          <li class="workflows_list_header">
            <div class="col-md-6">Repository</div>
            <div class="col-md-6">Workflow Name</div>
          </li>
          <li class="workflow_item" ng-repeat="workflow in $ctrl.treeOptions.data" ng-class="{'workflow_item_disabled': workflow.disabled}">
            <div class="workflow_item_row" ng-click="!workflow.disabled && $ctrl.treeOptions.onSelect(workflow)">
              <div class="col-md-6">{{workflow.configuration_script_source.name}}</div>
              <div class="col-md-6"
                   title="{{ workflow.disabled ? workflow.name + ' (Invalid Workflow)' : workflow.name }}">
                {{workflow.name}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
