<div class="modal-header">
  <h4 class="modal-title" translate>Select an icon</h4>
</div>
<div class="modal-body">
  <uib-tabset>
    <uib-tab ng-repeat="font in $ctrl.parent.families" index="0" heading="{{ font.title }}">
      <div class="row">
        <div class="col-xs-1 fonticon" ng-repeat="icon in $ctrl.parent.fonticons[font.selector]" ng-click="$ctrl.parent.markToSelect(icon.class);">
          <span class="fonticon" ng-class="$ctrl.parent.toSelect === icon.class ? 'active' : ''">
            <i ng-class="icon.class" title="{{ icon.selector }}"></i>
          </span>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="$ctrl.parent.closeModal(true);" ng-disabled="$ctrl.parent.isDisabled();" translate>Apply</button>
  <button class="btn btn-default" ng-click="$ctrl.parent.closeModal(false);" translate>Close</button>
</div>
