<div class="btn-group" ng-class="vm.dropdownClass" uib-dropdown ng-if="vm.isEmpty">
  <button type="button" uib-dropdown-toggle class="btn uib-dropdown-toggle btn-default"
          ng-class="{disabled: !vm.isToolbarEnabled()}" title="{{vm.toolbarTitle()}}">
    <i class="{{vm.toolbarList.icon}}"
       ng-if="vm.toolbarList.icon"
       ng-style="{color: vm.toolbarList.color}"></i>
    {{vm.toolbarList.text}}
    <span class="caret"></span>
  </button>
  <ul class="uib-dropdown-menu" uib-dropdown-menu role="menu">
    <li ng-repeat="item in vm.toolbarList.items track by $index" ng-class="{disabled: !item.enabled}">
      <miq-toolbar-click ng-if="item.type !== 'separator'"
                         item="item"
                         on-item-click="vm.onItemClick({item: item, $event: $event})">
      </miq-toolbar-click>
      <div ng-if="item.type === 'separator'" class="divider " role="presentation" ng-hide="item.hidden"></div>
    </li>
  </ul>
</div>
