<div class="toolbar-pf-view-selector pull-right form-group">
  <button class="btn btn-link"
          ng-repeat="item in vm.toolbarViews"
          ng-class="{active: item.selected}"
          title="{{item.title}}"
          id="{{item.id}}"
          data-url="{{item.url}}"
          data-url_parms="{{item.url_parms}}"
          data-send_checked="{{item.send_checked ? 'true' : ''}}"
          data-prompt="{{item.prompt}}"
          data-popup="{{item.popup}}"
          ng-click="vm.onItemClick({item: item, $event: $event})"
          name="{{item.name}}">
    <i class="{{item.icon}}" style="" ng-style="{color: (item.color | adjustColor : item.enabled)}"></i>
  </button>
</div>
