<button title="{{toolbarButton.title}}"
        data-explorer="{{toolbarButton.explorer}}"
        data-confirm-tb="{{toolbarButton.confirm}}"
        id="{{toolbarButton.id}}"
        name="{{toolbarButton.name}}"
        type="button"
        class="btn btn-default"
        data-click="{{toolbarButton.id}}"
        data-url="{{toolbarButton.url}}"
        data-url_parms="{{toolbarButton.url_parms}}"
        data-prompt="{{toolbarButton.prompt}}"
        data-popup="{{toolbarButton.popup}}"
        ng-class="{active: toolbarButton.selected, disabled: !toolbarButton.enabled}"
        ng-hide="toolbarButton.hidden"
        ng-click="onItemClick({item: toolbarButton, $event: $event})">
  <i ng-if="toolbarButton.icon && toolbarButton.text" class="{{toolbarButton.icon}}" style="margin-right: 5px;"></i>
  <i ng-if="toolbarButton.icon && !toolbarButton.text" class="{{toolbarButton.icon}}"></i>
  <img ng-if="toolbarButton.img_url && !toolbarButton.icon" ng-src="{{toolbarButton.img_url}}"
       data-enabled="{{toolbarButton.img_url}}"
       data-disabled="{{toolbarButton.img_url}}">
  {{toolbarButton.text}}
</button>
