ul.nav.nav-list.well {
  padding: 0;

  li.nav-header {
    background: #d3d3d3;

    a {
      color: black;
      font-size: larger;
      margin: 0;
    }
  }
}

table.table tbody td img {
  height: 20px;
  width: 20px;
}

table .narrow {
  width: 1%;
  white-space: nowrap;
}

.clear-navbar {
  margin-top: 60px;
}

.dl-horizontal.tile dt {
  float: left;
  width: 100px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.demo-dialog-container {
  height: 550px;
}
.demo-dialog {
  display:block;
  width: 80%;
  padding-bottom: 90px;
}
.demo-dialog-results {
  padding-top: 10px;
}
.demo-dialog-submit-button {
  margin-left: 147px;
  margin-top: 25px;
}
