<div ng-if="vm.modalTabIsSet('options') && !vm.modalData.dynamic">
  <form class="form-horizontal">
    <div pf-form-group pf-label="{{'Default value'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.default_value"
             ng-true-value="'t'"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate }}">
    </div>
    <div pf-form-group pf-label="{{'Required'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.required"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <div pf-form-group pf-label="{{'Read only'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.read_only"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <div pf-form-group pf-label="{{'Visible'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.visible"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <dialog-editor-modal-field-template template="fields-to-refresh.html"
                                        modal-data="vm.modalData">
    </dialog-editor-modal-field-template>
  </form>
</div>
<div ng-if="vm.modalTabIsSet('options') && vm.modalData.dynamic">
  <form class="form-horizontal">
    <div ng-show="!vm.treeSelectorShow">
      <div pf-form-group pf-label="{{'Entry Point'|translate}}">
        <div class="input-group">
          <input type="text" class="form-control" ng-value="vm.showFullyQualifiedName(vm.modalData.resource_action)" disabled>
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="vm.treeSelectorToggle();"><i class="ff ff-load-balancer"></i></button>
          </span>
        </div>
      </div>
      <div pf-form-group pf-label="{{'Show Refresh Button'|translate}}">
        <input bs-switch
               ng-model="vm.modalData.show_refresh_button"
               type="checkbox"
               switch-on-text="{{'Yes'|translate}}"
               switch-off-text="{{'No'|translate }}"/>
      </div>
      <div ng-if="vm.modalData.show_refresh_button" pf-form-group pf-label="{{'Load values on init'|translate}}">
        <input bs-switch
               ng-model="vm.modalData.load_values_on_init"
               type="checkbox"
               switch-on-text="{{'Yes'|translate}}"
               switch-off-text="{{'No'|translate }}"/>
      </div>
      <div pf-form-group pf-label="{{'Required'|translate}}">
        <input bs-switch
               ng-model="vm.modalData.required"
               type="checkbox"
               switch-on-text="{{'Yes'|translate}}"
               switch-off-text="{{'No'|translate}}">
      </div>
      <dialog-editor-modal-field-template template="fields-to-refresh.html"
                                          modal-data="vm.modalData">
      </dialog-editor-modal-field-template>
    </div>
    <div ng-show="vm.treeSelectorShow">
      <div class="pull-right">
        <button type="button" class="close" ng-click="vm.treeSelectorToggle()" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
      </div>
      <miq-tree-selector
        name="tree-selector"
        data="vm.treeSelectorData"
        selectable="{key: '^aei-'}"
        on-select="vm.onSelect(node, vm.modalData)"
        lazy-load="vm.lazyLoad(node)"
        >
      </miq-tree-selector>
      <div class="col-sm-4">
        <div class="form-group pull-right">
          <label class="control-label" translate>Include domain prefix in the path:</label>
          <input bs-switch
                 type="checkbox"
                 ng-model="vm.treeSelectorIncludeDomain"
                 switch-on-text="{{'Yes'|translate}}"
                 switch-off-text="{{'No'|translate}}"/>
        </div>
      </div>
    </div>
  </form>
</div>
<div ng-if="vm.modalTabIsSet('overridable') && vm.modalData.dynamic">
  <form class="form-horizontal">
    <div pf-form-group pf-label="{{'Read only'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.read_only"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <div pf-form-group pf-label="{{'Visible'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.visible"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
  </form>
</div>
