<div ng-if="vm.modalTabIsSet('options') && !vm.modalData.dynamic">
  <form class="form-horizontal">
    <div pf-form-group pf-label="{{'Read only'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.read_only"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <div pf-form-group pf-label="{{'Visible'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.visible"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <div pf-form-group pf-label="{{'Required'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.required"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <div pf-form-group pf-label="{{'Default value'|translate}}"
         ng-if="!vm.modalData.options.force_multi_value">
      <select class="form-control" pf-select
              ng-model="vm.modalData.default_value">
        <option value="">None</option>
        <option ng-repeat="value in vm.modalData.values" value="{{value[0]}}">{{value[1]}}</option>
      </select>
    </div>
    <div pf-form-group pf-label="{{'Default value'|translate}}"
         ng-if="vm.modalData.options.force_multi_value">
      <select class="form-control" multiple pf-select
              ng-model="vm.modalData.default_value">
        <option ng-repeat="value in vm.modalData.values" value="{{value[0]}}">{{value[1]}}</option>
      </select>
    </div>
    <div pf-form-group pf-label="{{'Value type'|translate}}">
      <select class="form-control" pf-select ng-model="vm.modalData.data_type">
        <option value="integer" translate>Integer</option>
        <option selected="selected" value="string" translate>String</option>
      </select>
    </div>
    <div pf-form-group pf-label="{{'Sort by'|translate}}">
      <select class="form-control" pf-select ng-model="vm.modalData.options.sort_by">
        <option value="none" translate>None</option>
        <option value="description" translate>Description</option>
        <option value="value" translate>Value</option>
      </select>
    </div>
    <div pf-form-group pf-label="{{'Sort order'|translate}}">
      <select class="form-control" pf-select ng-model="vm.modalData.options.sort_order">
        <option selected="selected" value="ascending" translate>Ascending</option>
        <option value="descending" translate>Descending</option>
      </select>
    </div>
    <div pf-form-group pf-label="{{'Multiselect'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.options.force_multi_value"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <div pf-form-group pf-input-class="col-sm-6" class="form-inline" pf-label="{{'Entries'|translate}}" required>
      <div ng-if='vm.modalData.options.sort_by !== "none"'>
        <div ng-repeat="entry in vm.modalData.values">
          <input id="description-{{$index}}"
                 ng-blur="vm.entriesChange()"
                 name="description"
                 ng-model="entry[1]"
                 type="text"
                 placeholder="Description"
                 required/>
          <input id="value-{{$index}}"
                 ng-blur="vm.entriesChange()"
                 name="value"
                 ng-model="entry[0]"
                 type="text"
                 placeholder="Value"
                 required/>
          <a ng-click='vm.removeEntry(entry); vm.entriesChange()'><i class='pficon-close'></i></a>
        </div>
      </div>
      <div ng-if='vm.modalData.options.sort_by === "none"'>
        <div ui-sortable='vm.sortableOptionsValues'
             ng-model='vm.modalData.values'>
          <div class="draggable-field" ng-repeat="entry in vm.modalData.values">
            <input id="description-{{$index}}"
                   ng-blur="vm.entriesChange()"
                   name="description"
                   ng-model="entry[1]"
                   type="text"
                   placeholder="Description"
                   required/>
            <input id="value-{{$index}}"
                   ng-blur="vm.entriesChange()"
                   name="value"
                   ng-model="entry[0]"
                   type="text"
                   placeholder="Value"
                   required/>
            <a ng-click='vm.removeEntry(entry); vm.entriesChange()'><i class='pficon-close'></i></a>
          </div>
        </div>
      </div>
      <a ng-click='vm.addEntry()'><i class='pficon-add-circle-o'></i></a>
    </div>
    <dialog-editor-modal-field-template template="fields-to-refresh.html"
                                        modal-data="vm.modalData">
    </dialog-editor-modal-field-template>
  </form>
</div>
<div ng-if="vm.modalTabIsSet('options') && vm.modalData.dynamic">
  <form class="form-horizontal">
    <div ng-show="!vm.treeSelectorShow">
      <div pf-form-group pf-label="{{'Entry Point'|translate}}">
        <div class="input-group">
          <input type="text" class="form-control" ng-value="vm.showFullyQualifiedName(vm.modalData.resource_action)" disabled>
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="vm.treeSelectorToggle();"><i class="ff ff-load-balancer"></i></button>
          </span>
        </div>
      </div>
      <dialog-editor-modal-field-template template="dynamic-values.html"
                                          modal-data="vm.modalData">
      </dialog-editor-modal-field-template>
      <div pf-form-group pf-label="{{'Required'|translate}}">
        <input bs-switch
               ng-model="vm.modalData.required"
               type="checkbox"
               switch-on-text="{{'Yes'|translate}}"
               switch-off-text="{{'No'|translate}}">
      </div>
      <div pf-form-group pf-label="{{'Value type'|translate}}">
        <select class="form-control" pf-select ng-model="vm.modalData.data_type">
          <option value="integer" translate>Integer</option>
          <option selected="selected" value="string" translate>String</option>
        </select>
      </div>
      <div pf-form-group pf-label="{{'Multiselect'|translate}}">
        <input bs-switch
               ng-model="vm.modalData.options.force_multi_value"
               type="checkbox"
               switch-on-text="{{'Yes'|translate}}"
               switch-off-text="{{'No'|translate}}">
      </div>
      <dialog-editor-modal-field-template template="fields-to-refresh.html"
                                          modal-data="vm.modalData">
      </dialog-editor-modal-field-template>
    </div>
    <div ng-show="vm.treeSelectorShow">
      <div class="pull-right">
        <button type="button" class="close" ng-click="vm.treeSelectorToggle()" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
      </div>
      <miq-tree-selector
        name="tree-selector"
        data="vm.treeSelectorData"
        selectable="{key: '^aei-'}"
        on-select="vm.onSelect(node, vm.modalData)"
        lazy-load="vm.lazyLoad(node)"
        >
      </miq-tree-selector>
      <div class="col-sm-4">
        <div class="form-group pull-right">
          <label class="control-label" translate>Include domain prefix in the path:</label>
          <input bs-switch type="checkbox" ng-model="vm.treeSelectorIncludeDomain"/>
        </div>
      </div>
    </div>
  </form>
</div>
<div ng-if="vm.modalTabIsSet('overridable') && vm.modalData.dynamic">
  <form class="form-horizontal">
    <div pf-form-group pf-label="{{'Read only'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.read_only"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <div pf-form-group pf-label="{{'Visible'|translate}}">
      <input bs-switch
             ng-model="vm.modalData.visible"
             type="checkbox"
             switch-on-text="{{'Yes'|translate}}"
             switch-off-text="{{'No'|translate}}">
    </div>
    <div pf-form-group pf-label="{{'Sort by'|translate}}">
      <select class="form-control" pf-select ng-model="vm.modalData.options.sort_by">
        <option value="none" translate>None</option>
        <option value="description" translate>Description</option>
        <option value="value" translate>Value</option>
      </select>
    </div>
    <div pf-form-group pf-label="{{'Sort order'|translate}}">
      <select class="form-control" pf-select ng-model="vm.modalData.options.sort_order">
        <option selected="selected" value="ascending" translate>Ascending</option>
        <option value="descending" translate>Descending</option>
      </select>
    </div>
  </form>
</div>
