<!-- any dynamic element -->
<div pf-form-group pf-label="{{'Entry Point'|translate}}">
  <!-- TODO: until treepicker and API for it are in the SSUI -->
  <input ng-focus="vm.openTreeView()" ng-model="vm.modalData.resource_action.ae_namespace"/>
  <span ng-click="vm.openTreeView(false)" ng-show="vm.showTreeView" class="icon node-icon fa fa-close"></span>
  <dialog-tree-wrapper
    ng-show="vm.showTreeView"
    resource-action="vm.modalData.resource_action"
    handle-set-resource="vm.setResourceAction"
  ></dialog-tree-wrapper>
</div>
<div pf-form-group pf-label="{{'Show Refresh Button'|translate}}">
  <input bs-switch
         ng-model="vm.modalData.show_refresh_button"
         type="checkbox"
         switch-on-text="{{'Yes'|translate}}"
         switch-off-text="{{'No'|translate }}"/>
</div>
<div pf-form-group pf-label="{{'Load Values on Init'|translate}}">
  <input bs-switch
         ng-model="vm.modalData.load_values_on_init"
         switch-active="{{vm.modalData.show_refresh_button}}"
         type="checkbox"
         switch-on-text="{{'Yes'|translate}}"
         switch-off-text="{{'No'|translate}}"/>
</div>
<div pf-form-group pf-label="{{'Auto refresh'|translate}}">
  <input bs-switch
         ng-model="vm.modalData.auto_refresh"
         type="checkbox"
         switch-on-text="{{'Yes'|translate}}"
         switch-off-text="{{'No'|translate}}"/>
</div>
<div pf-form-group pf-label="{{'Auto refresh on change'|translate}}">
  <input bs-switch
         ng-model="vm.modalData.trigger_auto_refresh"
         type="checkbox"
         switch-on-text="{{'Yes'|translate}}"
         switch-off-text="{{'No'|translate}}"/>
</div>
