<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" integrity="sha256-5ad0JyXou2Iz0pLxE+pMd3k/PliXbkc65CO5mavx8s8=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" integrity="sha256-nFp4rgCvFsMQweFQwabbKfjrBwlaebbLkE29VFR0K40=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css" integrity="sha256-IW5fdxFdf6I5MsRbl2dOje41oOvdZhIpgcE8sBnYVus=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" integrity="sha256-4e0eiRTk64tQnM9hmntNxCg5nuKU5MQG/uuCZ7WgfXc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" integrity="sha256-ULjuiZ9iqqf97EETp/mZrnLusfOwISiI6AIL0IXShbc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.15.0/css/patternfly.min.css" integrity="sha256-diRy1ATB0S3T0V8x8YwYt4T/pVQO4FQKbJkl55RMtEs=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.15.0/css/patternfly-additions.min.css" integrity="sha256-czjCMXClrusnJhsibSCfyFzwindTJ/NK616Dq3dQTSg=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/vendor.css">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<header class="header">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="navbar-inner">
                <div class="container-fluid navbar-inverse">
                    <a class="navbar-brand">ManageIQ Common Components</a>
                </div>
            </div>
        </div>
</header>
<div class="container-fluid" ng-app="demoApp" ng-strict-di="true" ng-cloak>
    <div class="row clear-navbar"></div>
    <div class="row" ng-controller="demoAvailableComponents as vm">
        <div class="col-md-3">
            <ul class="nav nav-list well" ng-repeat="group in vm.availableComponents">
                <li class="nav-header module">
                    <a class="code ng-binding" href="#{{group.location}}" title="{{group.title}}">{{group.title}}</a>
                </li>
                <li ng-repeat="page in group.components track by page.name" class="api-list-item expand">
                    <a href="#{{group.location + page.location}}" tabindex="2">{{page.title}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div ui-view></div>
        </div>
    </div>
</div>
<script src="js/vendor.js"></script>
<!-- vendor javascripts -->

<!-- vendor javascripts -->
</body>
</html>
