<div class="miq-tile-section">
    <div ng-if="tileCtrl.settings.isLoading" class="spinner spinner-lg"></div>
    <div class="miq-pagination"
         ng-if="tileCtrl.isVisible()">
      <miq-pagination settings="tileCtrl.settings"
                      per-page="tileCtrl.perPage"
                      has-checkboxes="tileCtrl.countCheckboxes() > 0"
                      on-select-all="tileCtrl.onCheckAll(isSelected)"
                      on-change-sort="tileCtrl.onSortClick(sortId, isAscending)"
                      on-change-page="tileCtrl.setPage(pageNumber)"
                      on-change-per-page="tileCtrl.perPageClick(item)"></miq-pagination>
    </div>
  <div pf-card-view
       class="miq-sand-paper"
       config="tileCtrl.options"
       items="tileCtrl.rows"
       class="miq-tile-view"
       ng-if="tileCtrl.isVisible()"
       ng-class="tileCtrl.tileClass()">
    <div ng-switch="config.type">
      <ng-switch-when ng-switch-when="small">
        <div class="miq-tile-head">
          <a href="javascript:void(0)" title="{{config.fetchTileName(item)}}" ng-click="config.onItemClick(item, $event)">{{config.fetchTileName(item) | limitToSuffix : 5 : 5 }}</a>
        </div>
        <div class="miq-quadicon">
          <a href="javascript:void(0)" ng-click="config.onItemClick(item, $event)">
            <div ng-if="!item.quad" ng-bind-html="config.trustAsHtmlQuadicon(item)"></div>
            <miq-quadicon ng-if="item.quad" data="item.quad"></miq-quadicon>
          </a>
        </div>
      </ng-switch-when>
      <ng-switch-when ng-switch-when="big">
        <a href="javascript:void(0)" ng-click="config.onItemClick(item, $event)">{{config.fetchTileName(item)}}</a>
        <div class="row miq-row-margin-only-top ">
          <div class="col-md-3 col-lg-3 col-xs-3 miq-icon-section">
            <a href="javascript:void(0)" ng-click="config.onItemClick(item, $event)">
              <div ng-if="!item.quad" ng-bind-html="config.trustAsHtmlQuadicon(item)"></div>
              <miq-quadicon ng-if="item.quad" data="item.quad"></miq-quadicon>
            </a>
          </div>
          <div class="col-md-9 col-lg-9 col-xs-9 miq-info-section">
            <dl class="dl-horizontal tile">
              <dt ng-repeat-start="(key, header) in config.columns | limitTo: 7 track by $index" ng-if="header.header_text && header.header_text.indexOf('Name') === -1" title="{{header.header_text}}">{{header.header_text}}:</dt>
              <dd ng-repeat-end ng-if="header.header_text && header.header_text.indexOf('Name') === -1" title="{{item.cells[key].text}}">{{item.cells[key].text | limitToSuffix : 25 : 25}}</dd>
            </dl>
            <div ng-repeat="(columnKey, column) in config.columns"
                 ng-if="item.cells[columnKey].is_button && item.cells[columnKey].onclick"
                 align="right">
              <button class="btn btn-primary"
                      title="{{item.cells[columnKey].title}}"
                      alt="{{item.cells[columnKey].title}}"
                      ng-disabled="item.cells[columnKey].disabled"
                      ng-click="config.onButtonItemClick(item.cells[columnKey], $event)">
                {{item.cells[columnKey].text}}
              </button>
            </div>
          </div>
        </div>
      </ng-switch-when>
    </div>
  </div>
</div>
