<div class="miq-tile-section">
    <div ng-if="tileCtrl.settings.isLoading" class="spinner spinner-lg"></div>
    <div class="row miq-pagination" ng-if="tileCtrl.rows && tileCtrl.rows.length !== 0">
      <div class="miq-select-all col-md-2 col-lg-2 col-xs-2"
           ng-if="!tileCtrl.settings.hideSelect">
        <label>{{tileCtrl.settings.selectAllTitle}}: </label>
        <input type="checkbox" ng-model="isChecked" ng-click="tileCtrl.onCheckAllTiles(isChecked)" title="{{tileCtrl.settings.selectAllTitle}}" />
      </div>
      <miq-sort-items class="miq-sort-items col-md-2 col-lg-2 col-xs-2"
                      sort-object="tileCtrl.settings.sortBy"
                      headers="tileCtrl.columns"
                      drop-down-class="tileCtrl.settings.dropDownClass"
                      on-sort="tileCtrl.onSortClick(sortObject.colId, isAscending)"></miq-sort-items>
      <div class="col-md-7 col-lg-7 col-xs-7">
        <div class="miq-pager">
          <div class="miq-per-page">
            <miq-toolbar-list on-item-click="tileCtrl.perPageClick(item)"
                              drop-down-class="tileCtrl.settings.dropDownClass"
                              toolbar-list="tileCtrl.perPage"></miq-toolbar-list>
          </div>
          <div class="miq-paging" ng-if="tileCtrl.rows && tileCtrl.rows.length !== 0">
            <miq-paging settings="tileCtrl.settings" on-change-page="tileCtrl.setPage(pageNumber)"></miq-paging>
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 col-xs-1 miq-page-counter">
        <label>
          {{tileCtrl.translateOf(tileCtrl.settings.startIndex, tileCtrl.settings.endIndex, tileCtrl.settings.items)}}
        </label>
      </div>
    </div>
  <div pf-card-view
       config="tileCtrl.options"
       items="tileCtrl.rows"
       class="miq-tile-view"
       ng-class="tileCtrl.tileClass()">
    <div ng-switch="config.type">
      <ng-switch-when ng-switch-when="small">
        <div class="miq-tile-head">
          <a href="javascript:void(0)" title="{{config.fetchTileName(item)}}" ng-click="config.onItemClick(item, $event)">{{config.fetchTileName(item) | limitToSuffix : 5 : 5 }}</a>
        </div>
        <div class="miq-quadicon">
          <a href="javascript:void(0)" ng-click="config.onItemClick(item, $event)">
            <div ng-bind-html="config.trustAsHtmlQuadicon(item)"></div>
          </a>
        </div>
      </ng-switch-when>
      <ng-switch-when ng-switch-when="big">
        <a href="javascript:void(0)" ng-click="config.onItemClick(item, $event)">{{config.fetchTileName(item)}}</a>
        <div class="row miq-row-margin-only-top ">
          <div class="col-md-3 col-lg-3 col-xs-3 miq-icon-section">
            <a href="javascript:void(0)" ng-click="config.onItemClick(item, $event)">
              <div ng-bind-html="config.trustAsHtmlQuadicon(item)"></div>
            </a>
          </div>
          <div class="col-md-9 col-lg-9 col-xs-9 miq-info-section">
            <dl class="dl-horizontal tile">
              <dt ng-repeat-start="(key, header) in config.columns | limitTo: 7 track by $index" ng-if="header.text && header.text.indexOf('Name') === -1" title="{{header.text}}">{{header.text}}:</dt>
              <dd ng-repeat-end ng-if="header.text && header.text.indexOf('Name') === -1" title="{{item.cells[key].text}}">{{item.cells[key].text | limitToSuffix : 25 : 25}}</dd>
            </dl>
          </div>
        </div>
      </ng-switch-when>
    </div>
  </div>
</div>
