<div class="miq-data-table">
  <div ng-if="tableCtrl.settings.isLoading" class="spinner spinner-lg"></div>
  <div class="row miq-pagination" ng-if="tableCtrl.rows && tableCtrl.rows.length !== 0">
    <div ng-if="tableCtrl.rows.length !== 0 && !tableCtrl.settings.hideSelect"
         class="miq-select-all col-md-2 col-lg-2 col-xs-2">
      <label>{{tableCtrl.settings.selectAllTitle}}: </label>
      <input type="checkbox" ng-model="isChecked" ng-click="tableCtrl.onCheckAll(isChecked)" title="{{tableCtrl.settings.selectAllTitle}}" />
    </div>
    <miq-sort-items class="miq-sort-items col-md-2 col-lg-2 col-xs-2"
                    sort-object="tableCtrl.settings.sortBy"
                    headers="tableCtrl.columns"
                    drop-down-class="tableCtrl.settings.dropDownClass"
                    on-sort="tableCtrl.onSortClick(sortObject.colId, isAscending)"></miq-sort-items>
    <div class="col-md-7 col-lg-7 col-xs-7">
      <div class="miq-pager">
        <div class="miq-per-page">
          <miq-toolbar-list on-item-click="tableCtrl.perPageClick(item)"
                            drop-down-class="tableCtrl.settings.dropDownClass"
                            toolbar-list="tableCtrl.perPage"></miq-toolbar-list>
        </div>
        <div class="miq-paging" ng-if="tableCtrl.rows && tableCtrl.rows.length !== 0">
          <miq-paging settings="tableCtrl.settings" on-change-page="tableCtrl.setTablePage(pageNumber)"></miq-paging>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-lg-1 col-xs-1 miq-page-counter">
      <label>
        {{tableCtrl.translateOf(tableCtrl.settings.startIndex, tableCtrl.settings.endIndex, tableCtrl.settings.items)}}
      </label>
    </div>
  </div>
  <table class="table table-bordered table-striped table-hover mig-table-with-footer mig-table"
         ng-if="tableCtrl.rows && tableCtrl.rows.length !== 0">
    <thead>
    <tr>
      <th class="narrow">

      </th>
      <th ng-if="$index !== 0"
          ng-repeat="column in tableCtrl.columns track by $index"
          ng-click="tableCtrl.onSortClick($index, !!tableCtrl.settings.sortBy && !tableCtrl.settings.sortBy.isAscending)"
          ng-class="tableCtrl.getColumnClass(column)">
        {{column.text}}
        <div class="pull-right" ng-if="tableCtrl.isFilteredBy(column)" >
          <i class="fa" ng-class="tableCtrl.getSortClass()"></i>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in tableCtrl.rows"
        ng-class="{active : row.selected}"
        ng-click="tableCtrl.onRowClick({item: row, event: $event})">
      <td ng-repeat="(columnKey, column) in tableCtrl.columns"
          ng-class="{narrow: row.cells[columnKey].is_checkbox || row.cells[columnKey].icon}">
        <input ng-if="row.cells[columnKey].is_checkbox && !tableCtrl.settings.hideSelect"
               ng-click="tableCtrl.onItemSelected({item: row, isSelected: isSelected})"
               onclick="event.stopPropagation();"
               type="checkbox"
               ng-model="isSelected"
               name="check_{{row.id}}"
               value="{{row.id}}"
               ng-checked="row.checked"
               class="list-grid-checkbox">
        <i ng-if="row.cells[columnKey].icon && tableCtrl.isIconOrImage(row, columnKey)"
           class="{{row.cells[columnKey].icon}}"
           title="row.cells[columnKey].title">
          <i ng-if="row.cells[columnKey].icon2" ng-class="row.cells[columnKey].icon2"></i>
        </i>
        <img ng-if="row.cells[columnKey].icon === null && tableCtrl.isIconOrImage(row, columnKey)"
             ng-src="{{row.img_url}}"
             alt="{{row.cells[columnKey].title}}"
             title="{{row.cells[columnKey].title}}" />
        <span ng-if="row.cells[columnKey].text">
              {{row.cells[columnKey].text}}
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
