name: CI
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
  - cron: 0 0 * * *
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up system
      run: bin/before_install
    - name: Set up Node
      uses: actions/setup-node@v5
      with:
        node-version-file: package.json
        cache: yarn
        registry-url: https://npm.manageiq.org/
    - name: Prepare tests
      run: bin/setup
    - name: Run tests
      run: bin/ci
    - name: Report code coverage
      if: "${{ github.ref == 'refs/heads/master' }}"
      continue-on-error: true
      run: scripts/.coverage.sh
